@page "/CompanyDetails"
@using System.Globalization
<h5>Details</h5>
<h5>@Company.Name</h5>
<div style="display: flex">
    <div>
        @if (!Company.Branding.LogoUrl.StartsWith("?"))
        {
            <div>
                <img src="@(Company.Branding.LogoUrl)" height="75" />
            </div>
        }
    </div>

    <div class="m-3">
        <span>Industry: @Company.Industry</span> <br/>
        <span>Country: @(new RegionInfo(Company.Country).EnglishName)</span> <br/>
        <span>Description: @Company.Description</span> <br/>
    </div>



</div>